body {
    background: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc) 0 0, linear-gradient(45deg, #ccc 25%, #eee 25%, #eee 75%, #ccc 75%, #ccc) 20px 20px #eee;
    background-size: 40px 40px;
    font-family: Tahoma;
}

#image {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

#image.fith {
    max-width: 100%;
}

#image.fitv {
    max-height: 100%;
}

.color {
    display: inline-block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

.color-carousel {
    background-color: rgba( 0, 0, 0, 0.5 );
    bottom: 0;
    line-height: 60px;
    overflow: hidden;
    padding-left: 20px;
    position: absolute;
    right: 0;
}

.color-carousel.bottom {
    height: 60px;
    left: 0;
    top: auto;
}

.color-carousel.right {
    height: auto;
    left: auto;
    top: 0;
}

.interactive {
    cursor: pointer;
}

.stage {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

@-webkit-keyframes spin-clockwise {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}

@-webkit-keyframes spin-counter-lockwise {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(1deg); }
}